{%- if section.settings.html != blank -%}
	<style>
		     #shopify-section-{{ section.id }} {

		{% if section.settings.custom_padding %}
		padding-top: {{ section.settings.padding_top }}px;
		padding-bottom: {{ section.settings.padding_bottom }}px;
		{% endif %}

		         {% if section.settings.remove_vertical_spacing %}
		             --ul-section-spacing-block: 0;
		         {% endif %}
		         {% if section.settings.remove_horizontal_spacing %}
		             --ul-section-spacing-inline: 0;
		         {% endif %}
		     }
	</style>

	{%- render 'section-spacing-collapsing' -%}

	<div {% render 'section-attributes' %}>
		{{ section.settings.html }}
	</div>
{%- endif -%}

{% schema %}
{
	"name": "Custom HTML",
	"class": "shopify-section--custom-html",
	"tag": "section",
	"disabled_on": {
		"groups": ["custom.overlay"]
	},
	"settings": [
		{
			"type": "checkbox",
			"id": "full_width",
			"label": "Full width",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "remove_vertical_spacing",
			"label": "Remove vertical spacing",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "remove_horizontal_spacing",
			"label": "Remove horizontal spacing",
			"default": false
		},
		{
			"type": "html",
			"id": "html",
			"label": "HTML",
			"default": "<p style=\"text-align: center\">Write or copy/paste HTML code</p>"
		},
		{
			"type": "header",
			"content": "Colors",
			"info": "Gradient replaces solid colors when set."
		},
		{
			"type": "color",
			"id": "background",
			"label": "Background"
		},
		{
			"type": "color_background",
			"id": "background_gradient",
			"label": "Background gradient"
		},
		{
			"type": "color",
			"id": "text_color",
			"label": "Text"
		},
		{
			"type": "checkbox",
			"id": "custom_padding",
			"label": "Custom padding",
			"default": false
		},
		{
			"type": "range",
			"id": "padding_top",
			"label": "Top padding",
			"min": 0,
			"max": 200,
			"step": 4,
			"default": 40,
			"unit": "px"
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"label": "Bottom padding",
			"min": 0,
			"max": 200,
			"step": 4,
			"default": 40,
			"unit": "px"
		}
	],
	"presets": [
		{
			"name": "Custom HTML"
		}
	]
}
{% endschema %}
