.prize-details > * + *  {
    font-family: var(--primary-font);
  }

  .prize-details * {
    font-family: var(--primary-font);
  }


.prize-details__eyebrow {
    font-size:var(--body-alt-size);
    font-weight: 800;
    line-height: var(--body-alt-line-height);
    margin-bottom: 17px;
}

.prize-details__heading {
    font-weight: var(--heading-3-weight) !important;
    font-size: var(--heading-3-size);
    line-height: var(--heading-3-line-height);
    margin-bottom: 11px;
}

.prize-details__description, .prize-details__content-text {
    font-size:var(--body-size);
    line-height: 22.4px;
    font-weight: var(--body-weight);
}

.prize-details__content-text {
    color: var(--alternate-text-color);
}

.prize-details__content-heading {
    font-size:var(--body-size);
    line-height: var(--body-line-height);
    font-weight: 800;
    margin-bottom:var(--content-padding);
}

.prize-details__content {
    padding: var(--content-padding) 0;
    border-bottom: 1px solid var(--border-color);
}

.prize-details__content-wrapper {
    max-height: 368px;
    overflow: hidden;
    transition: max-height 0.5s;
    padding-top: var(--content-padding);
}

.prize-details__content-flex-wrap.active .load-more__icon {
    transform: rotate(180deg);
}

.prize-details__text-content {
    padding-bottom: 48px;
}

.prize-details__content-wrapper {
    background: var(--secondary-background);
}

.prize-details__load-more {
    padding: 30px 0 34px 0;
    background: var(--secondary-background);
}

.prize-details__load-more .load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.prize-details__load-more .load-more__icon {
    background: var(--border-color);
    padding: 3px 10px 8px;
    line-height: 1;
    border-radius: 50%;
    margin-left: 12px;
}

.prize-details__load-more .load-more__text {
    font-size:var(--cta-link-size);
    line-height: var(--cta-link-height);
    font-weight: var(--cta-link-weight);
}

.prize-details__content-wrapper-container, .prize-details__text-content-container {
    padding: 0 var(--base-margin);
}



@media (min-width: 1200px) {
    .prize-details__text-content {
        max-width: calc(45% - 41px);
    }

    .prize-details__text-content-container {
        padding:0;
    }

    .prize-details__content-flex-wrap {
        max-width: calc(55% - 41px);
        width: 100%;
    }

    .product__prize-details {
        display: flex;
        justify-content: space-between;
        max-width: calc(100% - 2*(var(--base-margin)));
        margin-left: auto;
        margin-right: auto;
        padding-top: 75px;
    }

    @media (min-width: 1600px) {
        .product__prize-details {
           max-width: 1440px;
        }
    }

    .prize-details__content {
        display: flex;
        justify-content: flex-start;
    }

    .prize-details__heading {
        font-weight: var(--heading-4-weight) !important;
        font-size: var(--heading-4-size);
        line-height: var(--heading-4-line-height);
        margin-bottom: 17px;
    }

    .prize-details__content-wrapper-container {
        padding: 0 36px;
    }

    .prize-details__load-more {
        padding: 40px 0 40px 0;
    }

    .prize-details__content-heading {
        margin-bottom: 0;
        min-width: 40%;
    }

    .prize-details__content-wrapper {
        max-height: 400px;
    }
}
